<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>学生账号信息</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <script src="../../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
</head>
<style type="text/css">
    .layui-form .layui-form-item{
        margin-bottom: 0px;
    }
</style>
<body>

<form class="layui-form " style="text-align: center;" >
    <!--个人信息-->
        <h1 style="margin: 15px 0px;">个人信息</h1>
        <table class="layui-inline" border="1px solid #ccc" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <label class="layui-form-label">账号/学号</label>
                </td>
                <td>
                    <input type="text" th:value="${studentInfo.username}"  style="border: 0px;" class="layui-input" disabled="disabled" readonly="true"  >
                </td>
                <td>
                    <label class="layui-form-label">姓名</label>
                </td>
                <td>
                    <input type="text" th:value="${studentInfo.name}" style="border: 0px;" class="layui-input" disabled="disabled" readonly="true"  >
                </td>
            </tr>


            <tr>
                <td>
                    <label class="layui-form-label">年龄</label>
                </td>
                <td>
                    <input type="text" th:value="${studentInfo.age}" style="border: 0px;" class="layui-input" disabled="disabled" readonly="true"  >
                </td>
                <td>
                    <label class="layui-form-label">性别</label>
                </td>
                <td>
                    <input type="text" th:value="${studentInfo.sex}" style="border: 0px;" class="layui-input" disabled="disabled" readonly="true"  >
                </td>
            </tr>

            <tr>
                <td>
                    <label class="layui-form-label">联系方式</label>
                </td>
                <td>
                    <input type="text" th:value="${studentInfo.tel}" style="border: 0px;" class="layui-input" disabled="disabled" readonly="true"  >
                </td>
                <td>
                    <label class="layui-form-label">入学时间</label>
                </td>
                <td>
                    <input type="text" th:value="${studentInfo.studayDate}" style="border: 0px;" class="layui-input" disabled="disabled" readonly="true"  >
                </td>
            </tr>

            <tr>
                <td>
                    <label class="layui-form-label">毕业时间</label>
                </td>
                <td>
                    <input type="text" th:value="${studentInfo.graduationDate}" style="border: 0px;" class="layui-input" disabled="disabled" readonly="true"  >
                </td>
                <td>
                    <label class="layui-form-label">学院</label>
                </td>
                <td>
                    <input type="text" th:value="${studentInfo.college}" style="border: 0px;" class="layui-input" disabled="disabled" readonly="true"  >
                </td>
            </tr>

            <tr>
                <td>
                    <label class="layui-form-label">专业</label>
                </td>
                <td>
                    <input type="text" th:value="${studentInfo.major}" style="border: 0px;" class="layui-input" disabled="disabled" readonly="true"  >
                </td>
                <td>
                    <label class="layui-form-label">班级</label>
                </td>
                <td>
                    <input type="text" th:value="${studentInfo.aclass}" style="border: 0px;" class="layui-input" disabled="disabled" readonly="true"  >
                </td>
            </tr>

            <tr>
                <td>
                    <label class="layui-form-label">出生年月日</label>
                </td>
                <td>
                    <input type="text" th:value="${studentInfo.birth}" style="border: 0px;" class="layui-input" disabled="disabled" readonly="true"  >
                </td>
                <td>
                    <label class="layui-form-label"></label>
                </td>
                <td>
                    <input type="text" style="border: 0px;" class="layui-input" disabled="disabled" readonly="true"  >
                </td>
            </tr>

            <tr>
                <td>
                    <label class="layui-form-label">家庭住址</label>
                </td>
                <td colspan="3">
                    <input type="text" th:value="${studentInfo.address}" style="border: 0px;" class="layui-input" disabled="disabled" readonly="true"  >
                </td>
            </tr>

        </table>


</form>

</body>
</html>