<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header"  th:content="${_csrf.headerName}"/>
  <title>管理员用户修改密码</title>
  <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
  <script src="../../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
</head>
<style type="text/css">
  .layui-layer-btn .layui-layer-btn0{
    background-color: #009688!important;
    color: #FFFFFF!important;
  }
  .layui-layer-setwin .layui-layer-close2{
    display: none;
  }
</style>
<body>
<form class="layui-form" id="changePassword" autocomplete="on" style="text-align: center;margin-top: 20px;" >
<!-- 修改密码-->
  <h1 style="font-weight: bold;margin: 10px 0px 20px 0px;">修改密码</h1>
  <div class="layui-form-item ">
    <div class="layui-inline">
      <label class="layui-form-label">账号</label>
      <div class="layui-input-inline">
        <input type="text" th:value="${username}" id="editAccount" name="editAccount"  autocomplete="off" class="layui-input" disabled="">
      </div>
    </div>
    <!--    <div class="layui-form-mid layui-word-aux">辅助文字</div>-->
  </div>


  <div class="layui-form-item ">
    <div class="layui-inline">
    <label class="layui-form-label">旧密码</label>
    <div class="layui-input-inline">
      <input type="password" name="oldPassword" autocomplete="new-password" required ="required" placeholder="请输入旧密码"  class="layui-input">
    </div>
    </div>
<!--    <div class="layui-form-mid layui-word-aux">辅助文字</div>-->
  </div>

  <div class="layui-form-item">
    <div class="layui-inline">
    <label class="layui-form-label">新密码</label>
    <div class="layui-input-inline">
      <input id="newPassword1" type="password" name="newPassword1" required ="required" placeholder="请输入新密码" autocomplete="on" class="layui-input">
    </div>
    </div>
<!--    <div class="layui-form-mid layui-word-aux">辅助文字</div>-->
  </div>

  <div class="layui-form-item">
    <div class="layui-inline">
    <label class="layui-form-label">确认密码</label>
    <div class="layui-input-inline">
      <input id="newPassword2" type="password" name="newPassword2" required="required" placeholder="请确认密码" autocomplete="on" class="layui-input">
    </div>
    </div>
<!--    <div class="layui-form-mid layui-word-aux">辅助文字</div>-->
  </div>

  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label"></label>
      <div class="layui-input-inline">
<!--        <div style="float: right;">-->
          <button type="button" onclick="upPassword();" class="btn layui-btn  layui-input-inline" style="letter-spacing:10px;">修改</button>
<!--          <button type="button" class="layui-unselect layui-tab-clos layui-btn layui-btn-normal layui-input-inline" style="width: max-content; margin-right: 0px;" > 取消</button>-->
<!--        </div>-->
      </div>
    </div>
  </div>

</form>

</body>
<script type="text/javascript">

  function upPassword(){

    var data = $("form").serialize();
    console.log(data);
    var header = $("meta[name='_csrf_header']").attr("content");
    var token = $("meta[name='_csrf']").attr("content");
    var newPassword1=document.getElementById("newPassword1").value;
    var newPassword2=document.getElementById("newPassword2").value;

    if (newPassword1==newPassword2){
      loading=layer.msg("正在执行...",{icon:16,time:1000*30});
      $.ajax({
        url: '/admin/upPassword',
        type: 'POST',
        async: true,
        contentType: 'application/x-www-form-urlencoded;charset=UTF-8',
        data:data,
        // dataType: 'json',
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
        success: function (data) {
          if (data.status){
            loading=layer.alert(data.msg,{icon:1,title:false});
          }else {
            loading=layer.alert(data.msg,{icon:2,title:false});
          }
          // alert(data.msg);
          // location.reload();
          // closeIfame();
        },
        error:function (){
          // alert("请求失败！！");
          loading=layer.alert("请求失败！！",{icon:2,title:false});
        }
      })
    //新密码和确认密码不一致
    }else {
      // alert("新密码和确认密码不一致！！！")
      loading=layer.alert("新密码和确认密码不一致！！！",{icon:5,title:false});
    }

  }

</script>

</html>