<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>预约详情记录</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header"  th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="../../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <script src="../../../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}" type="text/javascript"></script>
    <script src="../../../static/layui/layui.js" th:src="@{/layui/layui.js}" type="text/javascript"></script>
</head>
<style>
    body .demo-class .layui-layer-btn0{
        border-color: #E6E3E6;
        background-color: #FFF;
        color: black;
    }
    body .demo-class .layui-layer-btn1{
        border-color: #4898d5;
        background-color: #2e8ded;
        color: #fff;
    }
    body .layui-ext-myskin .layui-layer-btn0{
        　　border-color: #55ff83;
        　　background-color: #5aff53;
        　　color: #4736ff;
    }
    .btttt{
        color: #fff;
    }
    input:focus
    {
        background:rgba(216,54,54,0.5);
    }
</style>
<body>
    <form action="" method="post" id="form1" style="margin-top: 15px;">
        <div class="layui-form-item"  style="text-align: center;">
            <div class="layui-inline">
                <label class="layui-form-label">实验楼</label>
                <div class="layui-input-inline">
                    <input th:value="${reserve.laboratoryInfo.buildingName}" name="buildingName" disabled required lay-verify="required"  autocomplete="on" class="layui-input">
                </div>
            </div>
            <!--    <div class="layui-form-mid layui-word-aux">辅助文字</div>-->

            <div class="layui-inline">
                <label class="layui-form-label">实验房间号</label>
                <div class="layui-input-inline">
                    <input th:value="${reserve.laboratoryInfo.roomNumber}" name="roomTnumber" disabled required lay-verify="required"  autocomplete="on" class="layui-input">
                </div>
            </div>
            <!--    <div class="layui-form-mid layui-word-aux">辅助文字</div>-->

            <div class="layui-inline">
                <label class="layui-form-label">可容纳数</label>
                <div class="layui-input-inline">
                    <input th:value="${reserve.laboratoryInfo.capacity}" name="capacity" disabled required lay-verify="required"  autocomplete="on" class="layui-input">
                </div>
            </div>
            <!--    <div class="layui-form-mid layui-word-aux">辅助文字</div>-->

            <div class="layui-inline">
                <label class="layui-form-label">实验室类别</label>
                <div class="layui-input-inline">
                    <input th:value="${reserve.laboratoryInfo.category}" name="category" disabled required lay-verify="required"  autocomplete="on" class="layui-input">
                </div>
            </div>

            <div class="layui-inline input-focus">
                <label class="layui-form-label input-focus">预约时间</label>
                <div class="layui-input-inline">
                    <input id="reserve-date" th:value="${reserve.reserveTime}" name="reserveTime" class="layui-input" disabled required lay-verify="required"  >
                </div>
            </div>
            <!--    <div class="layui-form-mid layui-word-aux">辅助文字</div>-->

            <div class="layui-inline" style="" >
                <label class="layui-form-label">实验室状态</label>
                <div class="layui-input-inline">
                    <input  th:value="${reserve.laboratoryInfo.status}" name="status" class="layui-input" disabled required lay-verify="required"  >
                </div>
            </div>
<!--                <div class="layui-form-mid layui-word-aux">辅助文字</div>-->
        </div>
<!--        <input id="_csrf" name="_csrf" th:value="${_csrf.token}"/>-->
<!--        <input id="_csrf_header" name="_csrf_header"  th:value="${_csrf.headerName}"/>-->
        <div class="" style="text-align: center; ">
            <h2 >实验室说明</h2>
            <p style="padding:10px;border: 1px silver solid; margin: 0 auto;width: 78%;max-height:150px;min-height:100px;text-align: left;">[[${reserve.laboratoryInfo.describe}]]</p>
        </div>
        <div style="width: 78%;margin:0 auto;margin-top: 15px;">
            <div style="display: inline-block;float: right">
                <button  id="del-resever" class="layui-btn " th:data-id="${reserve.id}" th:onclick="dalReserve(this.getAttribute('data-id'))">取消预约</button>

<!--                <button onclick="addReserve();" id="reserve-btn" type="button" class="layui-btn " >取消预约</button>-->
                <button onclick="closeIfame();" type="" class="layui-btn ">关闭</button>
            </div>
        </div>

    </form>
<!--<div class="layui-input-inline">-->
<!--    <input id="reserve-date" th:value="${reserve}" name="reserve" class="layui-input" readonly lay-verify="required|date" type="data" placeholder="预约时间"  >-->
<!--</div>-->
<!--<div class="layui-input-inline">-->
<!--    <input id="reserve-date" th:value="${reserve}" name="reserve" class="layui-input" readonly lay-verify="required|date" type="data" placeholder="预约时间"  >-->
<!--</div>-->
<!--<div class="layui-input-inline">-->
<!--    <input id="reserve-date" th:value="${reserve}" name="reserve" class="layui-input" readonly lay-verify="required|date" type="data" placeholder="预约时间"  >-->
<!--</div>-->
<!--<button onclick="getParam();">sss</button>-->

</body>

<script type="text/javascript">

    //取消预约
    function dalReserve(id) {

        var header = $("meta[name='_csrf_header']").attr("content");
        var token = $("meta[name='_csrf']").attr("content");
        var data = {'id': id};

        $.ajax({
            url: '/admin/delReserve',
            type: 'POST',
            async: false,
            data: data,
            dataType: 'json',
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (data) {
                if (data.status == 200) {
                    alert("取消成功");
                    closeIfame();
                } else {
                    layer.alert("预约失败");
                    closeIfame();
                }
                // window.location.reload();
                // closeIfame();
            },
            error: function () {
                loading = layer.alert("请求错误", {icon: 2, title: false}, function () {
                    window.location.reload();
                });
            }
        })
    }
    //关闭弹窗
    function closeIfame() {
        //使用data获取传送过的obj参数
        //在子页面关闭弹出层
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    }


    function inputNull (labid){
        if (labid==1) {
            var ref = $("form").find("[required=required]");
            // alert('ref');
            $(ref).each(function () {
                if ($(this).val() == '') {
                    // alert("Required field should not be blank.");
                    $(this).focus();
                    e.preventDefault();
                    return false;
                }
            });
        }
    }

</script>

</html>
