<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header"  th:content="${_csrf.headerName}"/>
    <title>用户找回密码</title>
    <link th:href="@{/login/css/bootstrap.min.css}" href="../static/login/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/login/css/signin.css}" href="../static/login/css/signin.css" rel="stylesheet">
    <!--    <link th:href="@{/bootstrap/select/bootstrap-select.min.css}" href="../static/bootstrap/select/bootstrap-select.min.css" rel="stylesheet">-->
    <!--    <link th:href="@{/bootstrap/select/bootstrap-select.min.css}" href="../static/bootstrap/select/bootstrap-select.min.css" rel="stylesheet">-->
    <!--    <script type="text/javascript" src="{../static/bootstrap/select/bootstrap-select.min.js}" th:src="@{/bootstrap/select/bootstrap-select.min.js}" ></script>-->
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <script src="../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}" type="text/javascript"></script>
    <script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"  type="text/javascript"></script>
</head>
<style type="text/css">
    .layui-form-label{
        max-width: 100px;
    }
    .col-md-4{
        padding-left: 0px;
        padding-right: 0px;
        /*border: 1px silver solid;*/
        min-width: 100px;
        width: auto;
    }
    .myrow label{
        width: 100%;
        border-radius: 5px;
        border: 1px silver solid;
        padding: 10px 5px;
        margin-right: -5px;
        text-align: center;
        cursor: pointer;
    }
    .myrow label:hover{
        background-color: #009688;
        color: #FFFFFF;
        font-weight: bold;
    }
    #type .myrow input[type="radio"]:checked ~ label{
        /*background-clip: content-box; !*背景裁剪到内容框*!*/
        background-color: #009688;
        color: #FFFFFF;
        font-weight: bold;
    }
    .layui-form-radio{
        display: none;
    }
    #type .myrow{
        width: 32%;
        display: inline-block;
        margin-bottom: 15px;
    }
    #my-focus input:focus {
        /*background:rgba(216,54,54,0.5);*/
        border-color: #007bff !important;

    }
    #my-focus .input:focus {
        /*background:rgba(216,54,54,0.5);*/
        border-color: red !important;

    }
    #my-focus input{
        background-color: rgba(253, 252, 252, 0.72);
    }
    form{
        /*border: 1px silver solid;*/
        padding: 40px 60px 60px 60px;
        background-color: #F5F3F3FF;
        border-radius: 5px;
        box-shadow: 5px 5px 10px 5px #ccc inset;
    }
</style>
<body style="background-color: #F6F5F5FF">


<form class="layui-form" id="my-focus"  style="text-align: center;margin-top: 20px;" >
    <h1 style="font-weight: bold;margin: 10px 0px 20px 0px;">用户找回密码</h1>
    <div id="type">
        <div  class="myrow">
            <input id="stu" type="radio" style="display: none;" name="usertype" value="2" checked="">
            <label for="stu">
                学生
            </label>
        </div>
        <div class="myrow" style="text-align: center" >
            <input id="tea" type="radio" style="display: none;" name="usertype" value="1">
            <label for="tea">
                教师
            </label>
        </div>

        <div class="myrow" style="text-align: center;" >
            <input id="admin" type="radio" style="display: none;" name="usertype" value="0">
            <label for="admin">
                管理员
            </label>
        </div>
    </div>

    <div class="layui-form-item">
        <label  class="layui-form-label">
            <span class="x-red"></span>账号
        </label>
        <div class="layui-input-inline">
            <input  type="text" th:value="${username}"  name="username" required="required"
                   autocomplete="off" class="layui-input">
        </div>

    </div>

    <div class="layui-form-item">
        <label for="email" class="layui-form-label">
            <span class="x-red"></span>邮箱
        </label>
        <div class="layui-input-inline">
            <input type="email" id="email" name="email" required="required" lay-verify="email"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
            <span class="x-red" id="emailMsg"></span>
        </div>
        <button type="button" class="btn layui-btn " id="code">获取验证码</button>
    </div>

    <div class="layui-form-item">
        <label for="verCode" class="layui-form-label">
            <span class="x-red"></span>验证码
        </label>
        <div class="layui-input-inline">
            <input type="text" id="verCode" name="code" required="required"
                   autocomplete="off" class="layui-input">
        </div>

    </div>

    <div class="layui-form-item">
        <label  class="layui-form-label" style=" white-space:nowrap;">
            <span class="x-red"></span>修改密码
        </label>
        <div class="layui-input-inline">
            <input type="text"  name="password" required="required"
                   autocomplete="off" class="layui-input">
        </div>

    </div>



    <div class="layui-form-item">
        <div class="layui-inline" style="margin-right: 0px;">

            <div class="layui-input-inline" >
                <a href="/login" class=" btn layui-btn  layui-input-inline" style="letter-spacing:10px;color: #FFFFFF;">返回登录</a>
            </div>

            <div class="layui-input-inline" style="margin-right: 0px;">
                <!--        <div style="float: right;">-->
                <button type="button" onclick="retrievePassword();" class=" btn layui-btn  layui-input-inline" style="letter-spacing:10px;margin-right: 0px;">修改密码</button>

                <!--          <button type="button" class="layui-unselect layui-tab-clos layui-btn  layui-input-inline" style="width: max-content; margin-right: 0px;" > 取消</button>-->
                <!--        </div>-->
            </div>
        </div>
    </div>
</form>

</body>

<script type="text/javascript">

    var $ = layui.jquery,
        element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
    var form = layui.form;

    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount = count; //当前剩余秒数

    //获取验证码
    $('#code').click(function () {
        const email = $('#email').val();
        const myReg = /^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
        if (email === null || email.length === 0) {
            layer.msg('邮箱不能为空！', {time: 1500, icon: 5, shift: 6});
            $('#email').focus();
            $('#email').addClass("input");
            return false;
        }
        if (!myReg.test(email)) {
            layer.msg('邮箱格式不正确！', {time: 1500, icon: 5, shift: 6});
            return false;
        }

        //发生请求验证码
        $.ajax({
            type: 'GET',
            url: '/user/verCode',
            data: {
                'email': email
            },
            beforeSend: function () {
                loading = layer.msg('处理中', {icon: 16,time:1000*60})
            },
            success: function (data) {
                // layer.close(loading);
                console.log(data.status);
                if (data.status==200){
                    curCount=60;
                    loading = layer.msg('已发送', {icon: 1,time:1000})
                    document.getElementById("code").setAttribute("disabled", "true"); //设置按钮为禁用状态
                    $('#code').addClass('layui-btn-disabled');
                    $('#code').text(curCount + "秒后重获");
                    InterValObj = window.setInterval(SetRemainTime, 1000); // 启动计时器timer处理函数，1秒执行一次
                }else {
                    loading = layer.msg(data.msg, {icon: 2,time:1000})
                }
            }
        })
    });


    //timer处理函数
    function SetRemainTime() {
        if(curCount == 0) {
            $('#code').removeClass('layui-btn-disabled');
            $('#code').text("重获验证码");
            window.clearInterval(InterValObj); // 停止计时器
            document.getElementById("code").removeAttribute("disabled"); //移除禁用状态改为可用
        } else {
            curCount--;
            $('#code').text(curCount + "秒后重获");
        }
    }

    //判断表单input是否有空值
    function inputNull (){
        var ref = $("form").find("[required=required]");
        $(ref).each(function () {
            if ($(this).val() == '') {
                layer.msg('内容不能为空！！', {time: 1500, icon: 5});
                $(this).focus();
                $(this).addClass("input");
                e.preventDefault();
                return false;
            }
        });
    }

    //修改请求
    function retrievePassword() {
        inputNull()
        var data = $("form").serialize();
        console.log(data);
        var header = $("meta[name='_csrf_header']").attr("content");
        var token = $("meta[name='_csrf']").attr("content");
        $.ajax({
            url: '/user/retrievePassword',
            type: 'POST',
            async: false,
            contentType: 'application/x-www-form-urlencoded;charset=UTF-8',
            data:data,
            dataType: 'json',
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
                loading = layer.msg('处理中', {icon: 16,time:1000*60});
            },
            success: function (data) {
                // console.log(data.labid);
                loading = layer.msg(data.msg, {icon: 1,time:1000})
                console.log(data.status+data.msg);
            }
        })
    }

</script>
</html>
