<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdufe.laboratorysystem.dao.AdminUserDao">
    <select id="getAdmin" resultType="com.gdufe.laboratorysystem.entity.AdminUser">
        select * from admin_user where username=#{username};
    </select>
<!--    获取密码-->
    <select id="getPassword" resultType="String">
        select password from admin_user where username = #{username};
    </select>
<!--    获取管理账号信息-->
<!--    <select id="getAdminUser" resultType="com.gdufe.laboratorysystem.entity.User">-->
<!--        select * from  admin_user where username=#{username};-->
<!--    </select>-->
<!--    根据用户名查询管理员个人信息-->
    <select id="getAdminInfo" resultType="com.gdufe.laboratorysystem.entity.AdminUser">
        select * from admin_info where username = #{username};
    </select>
<!--更新管理员账号信息-->
    <update id="upAdminUserInfo" parameterType="com.gdufe.laboratorysystem.entity.AdminUser">
        update admin_user
        <set>
            <if test="name != null and name !=''">
                name = #{name},
            </if>
            <if test="headPortrait != null and headPortrait != ''">
                head_Portrait = #{headPortrait},
            </if>
        </set>
        where username = #{username}
    </update>


<!--    修改管理员用户名密码-->
    <update id="upPassword">
        update admin_user set password = #{password} where username = #{username}
    </update>

<!--    超级管理员superUsername是登录用户-->
    <update id="upAdminPasswrod">
        update admin_user set password = #{password} where username = #{username} and '10001' = #{superUsername}
    </update>

    <!--查询管理员信息列表-->
    <select id="getAdminInfoList" resultType="com.gdufe.laboratorysystem.entity.TeacherUser">
--         select * from teacher_info  where username in (select teacher_username FROM admin_info where
--             admin_info.admin_username='10001') and name like '李老师'
            SELECT * from teacher_info te ,admin_info ad
                <where>
                    <if test="1==1">
                        te.username = ad.teacher_username
                    </if>
                </where>
    </select>

    <!--    忘记密码，修改密码-->
    <update id="upPasswrodEmail">
        UPDATE `laboratory_system`.`admin_user` SET `password` = #{password} WHERE `username` = #{username} and `email` = #{email}
    </update>

<!--    获取管理员账号-->
    <select id="getAdminUserList" resultType="com.gdufe.laboratorysystem.entity.User">
        select * from  admin_user
        <where>
            <if test="username != '' and username != null and username !='null'">
                and username like concat(concat('%',#{username}),'%')
            </if>

            <if test="status != '' and status != null and status !='null'">
                and status like concat(concat('%',#{status}),'%')
            </if>

            <if test="email != '' and email != null and email !='null'">
                and email like concat(concat('%',#{email}),'%')
            </if>

        </where>
    </select>

<!--    重置密码-->
    <update id="resetPasssword">
        update  admin_user SET `password` = #{password} WHERE `username` = #{username}
    </update>

<!--    添加管理员账号-->
    <insert id="addAdminUser">
        INSERT INTO `laboratory_system`.`admin_user`(`adminid`, `username`, `password`, `status`, `create_time`, `email`, `role`, `name`)
        VALUES (#{userid}, #{username}, #{password},'正常', #{createTime}, #{email}, "admin", #{name})
    </insert>


<!--    邮箱是否存在-->
    <select id="existEmail" resultType="boolean">
        select COUNT(*) from  admin_user
        <where>
            <if test="1==1">
                and email = #{email}
            </if>

            <if test="username != '' and username != null and username !='null'">
                and username != username
            </if>
        </where>

    </select>

    <!--超管更新管理员账号信息-->
    <update id="upSAdminUserInfo">
        update admin_user
        <set>
            <if test="name != null and name !=''">
                name = #{name},
            </if>

            <if test="status != null and status !=''">
                status = #{status},
            </if>

            <if test="email != '' and email != null and email !='null'">
                email = #{email},
            </if>

            <if test="headPortrait != null and headPortrait != ''">
                head_Portrait = #{headPortrait},
            </if>

            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>

            <if test="tel != null and tel != ''">
                tel = #{tel},
            </if>

        </set>
        where username = #{username}
    </update>


    <!--    批量删除管理员账号-->
    <delete id="delAdminUserList" parameterType="java.lang.String">
        DELETE FROM `laboratory_system`.`admin_user` WHERE
        <foreach collection="array" separator="or" item="id" index="index" >
            username = #{id} and username !="10001"
        </foreach>
    </delete>


<!--&lt;!&ndash;    获取实验室物品列表&ndash;&gt;-->
<!--    <select id="getLaboratoryThingList" resultType="com.gdufe.laboratorysystem.entity.LaboratoryThing">-->
<!--        SELECT * FROM `laboratory_thing` LEFT JOIN laboratory_info on laboratory_thing.labid=laboratory_info.labid-->
<!--            <where>-->
<!--                <if test="time != '' and time != null and time !='null'">-->
<!--                    time >= #{time},-->
<!--                </if>-->

<!--                <if test="type != '' and type != null and type !='null'">-->
<!--                    type = #{type},-->
<!--                </if>-->

<!--                <if test="name != '' and name != null and name !='null'">-->
<!--                    name = #{name},-->
<!--                </if>-->

<!--                <if test="way != '' and way != null and way !='null'">-->
<!--                    way = #{way},-->
<!--                </if>-->

<!--                <if test="buildingName != '' and buildingName != null and buildingName !='null'">-->
<!--                    building_name = #{buildingName},-->
<!--                </if>-->

<!--                <if test="roomNumber != '' and roomNumber != null and roomNumber !='null'">-->
<!--                    room_number = #{roomNumber},-->
<!--                </if>-->

<!--&lt;!&ndash;                <if test="email != '' and email != null and email !='null'">&ndash;&gt;-->
<!--&lt;!&ndash;                    email = #{email},&ndash;&gt;-->
<!--&lt;!&ndash;                </if>&ndash;&gt;-->
<!--            </where>-->
<!--&#45;&#45;         where reserve.username=#{username} and reserve.id = #{id}-->
<!--    </select>-->
</mapper>