<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdufe.laboratorysystem.dao.NoticeDao">

<!--   查看显示的公告-->
    <select id="getShowNotice" resultType="com.gdufe.laboratorysystem.entity.Notice">
        select title,time,content from notice where display = 1;
    </select>
</mapper>