<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdufe.laboratorysystem.dao.StudentUserDao">
    <select id="getStudent" resultType="com.gdufe.laboratorysystem.entity.User">
        select *,student_user.stuid userid from student_user where username=#{username};
    </select>

    <select id="getUserInfo" resultType="com.gdufe.laboratorysystem.entity.User">
        select * from student_user where username=#{username};
    </select>
</mapper>