<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdufe.laboratorysystem.dao.StudentUserDao">
    <select id="getStudent" resultType="com.gdufe.laboratorysystem.entity.User">
        select *,student_user.stuid userid from student_user where username=#{username};
    </select>

    <select id="getUserInfo" resultType="com.gdufe.laboratorysystem.entity.User">
        select * from student_user where username=#{username};
    </select>

    <!--更新密码-->
    <update id="upPassword">
        update student_user set password=#{password} where username = #{username}
    </update>
    

<!--    学生列表-->
    <select id="getStudentUserList" resultType="com.gdufe.laboratorysystem.entity.User">
        SELECT  * from student_user
        <where>
            <if test="username != '' and username !=null and username != 'null'">
                and username like concat(concat('%',#{username}),'%')
            </if>

            <if test="name != '' and name !=null and name != 'null'">
               and name like concat(concat('%',#{name}),'%')
            </if>
            <if test="createTime != '' and createTime !=null and createTime != 'null'">
                and TO_DAYS(create_time)= TO_DAYS(#{createTime})
            </if>

        </where>
    </select>

    <!--获取学生账号邮件-->
    <select id="getEmail" resultType="String">
        select email FROM student_user where username = #{username};
    </select>

<!--    判断邮件-->
    <select id="isEmptyUserEmail" resultType="int">
        select COUNT(*) from student_user where email = #{email}
    </select>

<!--    批量添加用户-->
    <insert id="addStudentUserList">
        INSERT INTO `laboratory_system`.`student_user`(`stuid`, `username`, `password`, `status`, `create_time`, `email`, `role`, `name`)
        VALUES
        <foreach collection="list" item="user" index="index" separator=",">
            (#{user.userid}, #{user.username}, #{user.password},#{user.status}, #{user.createTime}, #{user.email}, #{user.role}, #{user.name})
        </foreach>
    </insert>


<!--    添加一个学生用户-->
    <insert id="addStudentUser" parameterType="com.gdufe.laboratorysystem.entity.User">
            INSERT INTO `laboratory_system`.`student_user`(`stuid`, `username`, `password`, `status`, `create_time`, `email`, `role`, `name`)
            VALUES (#{userid}, #{username}, #{password},'正常', #{createTime}, #{email}, #{role}, #{name})
</insert>

    <!--    批量删除学生-->
    <delete id="delStudentUserList" parameterType="java.lang.String">
        DELETE FROM `laboratory_system`.`student_user` WHERE
        <foreach collection="array" separator="or" item="id" index="index" >
            username = #{id}
        </foreach>
    </delete>

    <!--更新账号信息-->
    <update id="upStudentUser" parameterType="com.gdufe.laboratorysystem.entity.User">
        update student_user
        <trim prefix="set" suffixOverrides=",">
            <if test="status != null and status !='' and status !='null' ">
                status = #{status},
            </if>

            <if test="email != null and email !='' and email !='null' ">
                email = #{email},
            </if>

            <if test="name != null and name !='' and name !='null' ">
                name = #{name},
            </if>

            <if test="headPortrait != null and headPortrait != ''">
                head_Portrait = #{headPortrait},
            </if>
        </trim>
        where username = #{username};
    </update>

    <!--    设置账号状态-->
    <update id="UpStatus" parameterType="String">
        update student_user set status = #{status} where username = #{username}
    </update>

    <!--    管理员更新学生密码-->
    <update id="adminUpPassword" parameterType="String">
        update student_user set password=#{password} where username = #{username}
    </update>
    
    <!--管理员设置学生用户状态-->
    <update id="adminSetStatus" parameterType="String">
        update student_user set status = #{status} where username = #{username}
    </update>

    <!--管理员更新学生账号信息-->
    <update id="adminUpStudentUser" parameterType="com.gdufe.laboratorysystem.entity.User">
        update student_user
        <trim prefix="set" suffixOverrides=",">
            <if test="status != null and status !='' and status !='null' ">
                status = #{status},
            </if>

            <if test="email != null and email !='' and email !='null' ">
                email = #{email},
            </if>

            <if test="name != null and name !='' and name !='null' ">
                name = #{name},
            </if>

            <if test="createTime != null and createTime !='' and createTime !='null' ">
                create_time = #{createTime},
            </if>

            <if test="password != null and password !='' and password !='null' ">
                password = #{password},
            </if>

            <if test="status != null and status !='' and status !='null' ">
                status = #{status},
            </if>

            <if test="role != null and role !='' and role !='null' ">
                role = #{role},
            </if>
        </trim>
        where username = #{username};
    </update>

<!--    忘记密码，修改密码-->
    <update id="upPasswrodEmail">
        UPDATE `laboratory_system`.`student_user` SET `password` = #{password} WHERE `username` = #{username} and `email` = #{email}
    </update>
</mapper>