<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdufe.laboratorysystem.dao.StudentInfoDao">

<!--    &lt;!&ndash;根据用户名查找个人信息&ndash;&gt;-->
<!--    <select id="getStudentInfo" resultType="Map">-->
<!--        select * from student_info where stuid=#{username};-->
<!--    </select>-->


<!--    <select id="getStudentInfoAll" resultType="com.gdufe.laboratorysystem.entity.StudentUser">-->
<!--        select * from student_info-->
<!--        <where>-->
<!--            <if test="age !=0">-->
<!--                and age=#{age}-->
<!--            </if>-->
<!--            <if test="username!=null and username !='' ">-->
<!--                and username name=#{username}-->
<!--            </if>-->
<!--        </where>-->
<!--        ;-->
<!--    </select>-->

<!--    &lt;!&ndash;查找个人信息&ndash;&gt;-->
<!--    <select id="getStudentInfo" resultType="com.gdufe.laboratorysystem.entity.StudentUser">-->
<!--        select * from student_user where username=#{username};-->
<!--    </select>-->

<!--    &lt;!&ndash;    学生个人信息列表&ndash;&gt;-->
<!--    <select id="getStudentInfoList" resultType="com.gdufe.laboratorysystem.entity.StudentUser">-->
<!--        SELECT  * from student_user-->
<!--        <where>-->
<!--            <if test="username != '' and username !=null and username != 'null'">-->
<!--                and username like concat(concat('%',#{username}),'%')-->
<!--            </if>-->

<!--            <if test="name != '' and name !=null and name != 'null'">-->
<!--                and name like concat(concat('%',#{name}),'%')-->
<!--            </if>-->

<!--            <if test="major != null and major !='' and major !='null' ">-->
<!--                major = #{major},-->
<!--            </if>-->
<!--&lt;!&ndash;            <if test="createTime != '' and createTime !=null and createTime != 'null'">&ndash;&gt;-->
<!--&lt;!&ndash;                and TO_DAYS(create_time)= TO_DAYS(#{createTime})&ndash;&gt;-->
<!--&lt;!&ndash;            </if>&ndash;&gt;-->

<!--        </where>-->
<!--    </select>-->

<!--    &lt;!&ndash;更新学生个人信息&ndash;&gt;-->
<!--    <update id="upStudentInfo" parameterType="com.gdufe.laboratorysystem.entity.StudentUser">-->
<!--        update student_info-->
<!--        <trim prefix="set" suffixOverrides=",">-->
<!--            <if test="name != null and name !='' and name !='null' ">-->
<!--                name = #{name},-->
<!--            </if>-->

<!--            <if test="major != null and major !='' and major !='null' ">-->
<!--                major = #{major},-->
<!--            </if>-->

<!--            <if test="college != null and college !='' and college !='null' ">-->
<!--                college = #{college},-->
<!--            </if>-->

<!--            <if test="address != null and address !='' and address !='null' ">-->
<!--                address = #{address},-->
<!--            </if>-->

<!--            <if test="graduationDate != null and graduationDate !='' and graduationDate !='null' ">-->
<!--                graduation_date = #{graduationDate},-->
<!--            </if>-->

<!--            <if test="studayDate != null and studayDate !='' and studayDate !='null' ">-->
<!--                studay_date = #{studayDate},-->
<!--            </if>-->

<!--            <if test="birth != null and birth !='' and birth !='null' ">-->
<!--                birth = #{birth},-->
<!--            </if>-->

<!--            <if test="tel != null and tel !='' and tel !='null' ">-->
<!--                tel = #{tel},-->
<!--            </if>-->

<!--            <if test="sex =='男' or sex =='女' ">-->
<!--                sex = #{sex},-->
<!--            </if>-->

<!--            <if test=" age !=null and age !=0   and age gt 0  ">-->
<!--                age = #{age},-->
<!--            </if>-->

<!--        </trim>-->
<!--        where username = #{username};-->
<!--    </update>-->

<!--&lt;!&ndash;    添加学生个人信息&ndash;&gt;-->
<!--    <insert id="addStudentInfo">-->
<!--        INSERT INTO `laboratory_system`.`student_info`(`username`, `name`, `age`, `sex`, `tel`, `studay_date`, `graduation_date`, `address`, `college`, `major`, `aclass`, `birth`, `head_portrait`)-->
<!--        VALUES (#{username}, #{name}, #{age}, #{sex},#{tel},#{studayDate} ,#{graduationDate} ,#{address},#{college} ,#{major},#{aclass},#{birth},#{headPortrait})-->
<!--    </insert>-->

<!--&lt;!&ndash;    学生个人信息账号是否存在&ndash;&gt;-->
<!--    <select id="existUsername" resultType="boolean">-->
<!--        select count(*) from student_info where username=#{username};-->
<!--    </select>-->

<!--&lt;!&ndash;    批量删除学生个人信息&ndash;&gt;-->
<!--    <delete id="delStudentInfoList" parameterType="java.lang.String" >-->
<!--        DELETE FROM `laboratory_system`.`student_info` WHERE-->
<!--        <foreach collection="array" separator="or" item="id" index="index" >-->
<!--            username = #{id}-->
<!--        </foreach>-->
<!--    </delete>-->

<!--    &lt;!&ndash;    批量添加学生个人信息&ndash;&gt;-->
<!--    <insert id="addStudentInfoList">-->
<!--        INSERT INTO `laboratory_system`.`student_info`(`username`, `name`, `age`, `sex`, `tel`, `studay_date`, `graduation_date`, `address`, `college`, `major`, `aclass`, `birth`, `head_portrait`)-->
<!--        VALUES-->
<!--        <foreach collection="list" item="studentInfo" index="index" separator=",">-->
<!--           (#{studentInfo.username}, #{studentInfo.name}, #{studentInfo.age}, #{studentInfo.sex},#{studentInfo.tel},#{studentInfo.studayDate},#{studentInfo.graduationDate},#{studentInfo.address},#{studentInfo.college} ,#{studentInfo.major},#{studentInfo.aclass},#{studentInfo.birth},#{studentInfo.headPortrait})-->
<!--        </foreach>-->
<!--    </insert>-->

</mapper>