<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdufe.laboratorysystem.dao.TeacherUserDao">
    <select id="getTeacher" resultType="com.gdufe.laboratorysystem.entity.User">
        select *,teacher_user.teaid userid from teacher_user where username=#{username};
    </select>

    <select id="getUserInfo" resultType="com.gdufe.laboratorysystem.entity.User">
        select * from teacher_user where username=#{username};
    </select>

<!--    获取老师个人账号邮箱-->
    <select id="getEmail">
        select email from teacher_user where username = #{username}
    </select>

    <!--更新密码-->
    <update id="upPassword">
        update teacher_user set password=#{password} where username = #{username}
    </update>

    <!--    设置账号状态-->
    <update id="upStatus" parameterType="String">
        update teacher_user set status = #{status} where username = #{username}
    </update>

    <!--更新老师账号信息-->
    <update id="upTeacherUser" parameterType="com.gdufe.laboratorysystem.entity.User">
        update teacher_user
        <trim prefix="set" suffixOverrides=",">
            <if test="status != null and status !='' and status !='null' ">
                status = #{status},
            </if>

            <if test="email != null and email !='' and email !='null' ">
                email = #{email},
            </if>

            <if test="name != null and name !='' and name !='null' ">
                name = #{name},
            </if>

            <if test="headPortrait != null and headPortrait != ''">
                head_Portrait = #{headPortrait},
            </if>
        </trim>
        where username = #{username};
    </update>


    <!--    老师列表-->
    <select id="getTeacherUserList" resultType="com.gdufe.laboratorysystem.entity.User">
        SELECT  * from teacher_user
        <where>
            <if test="username != '' and username !=null and username != 'null'">
                and username like concat(concat('%',#{username}),'%')
            </if>

            <if test="name != '' and name !=null and name != 'null'">
                and name like concat(concat('%',#{name}),'%')
            </if>
            <if test="createTime != '' and createTime !=null and createTime != 'null'">
                and TO_DAYS(create_time)= TO_DAYS(#{createTime})
            </if>

        </where>
    </select>


    <!--    批量添加老师用户-->
    <insert id="addTeacherUserList">
        INSERT INTO `laboratory_system`.`teacher_user`(`teaid`, `username`, `password`, `status`, `create_time`, `email`, `role`, `name`)
        VALUES
        <foreach collection="list" item="user" index="index" separator=",">
            (#{user.userid}, #{user.username}, #{user.password},#{user.status}, #{user.createTime}, #{user.email}, #{user.role}, #{user.name})
        </foreach>
    </insert>


    <!--    添加一个老师用户-->
    <insert id="addTeacherUser" parameterType="com.gdufe.laboratorysystem.entity.User">
        INSERT INTO `laboratory_system`.`teacher_user`(`teaid`, `username`, `password`, `status`, `create_time`, `email`, `role`, `name`)
        VALUES (#{userid}, #{username}, #{password},'正常', #{createTime}, #{email}, #{role}, #{name})

    </insert>

    <!--    批量删除老师-->
    <delete id="delTeacherUserList" parameterType="java.lang.String">
        DELETE FROM `laboratory_system`.`teacher_user` WHERE
        <foreach collection="array" separator="or" item="id" index="index" >
            username = #{id}
        </foreach>
    </delete>


    <!--管理员设置老师用户状态-->
    <update id="adminSetStatus" parameterType="String">
        update teacher_user set status = #{status} where username = #{username}
    </update>

    <!--管理员更新学生账号信息-->
    <update id="adminUpTeacherUser" parameterType="com.gdufe.laboratorysystem.entity.User">
        update teacher_user
        <trim prefix="set" suffixOverrides=",">
            <if test="status != null and status !='' and status !='null' ">
                status = #{status},
            </if>

            <if test="email != null and email !='' and email !='null' ">
                email = #{email},
            </if>

            <if test="name != null and name !='' and name !='null' ">
                name = #{name},
            </if>

            <if test="createTime != null and createTime !='' and createTime !='null' ">
                create_time = #{createTime},
            </if>

            <if test="password != null and password !='' and password !='null' ">
                password = #{password},
            </if>

            <if test="status != null and status !='' and status !='null' ">
                status = #{status},
            </if>

            <if test="role != null and role !='' and role !='null' ">
                role = #{role},
            </if>
        </trim>
        where username = #{username};
    </update>

    <!--    忘记密码，修改密码-->
    <update id="upPasswrodEmail">
        UPDATE `laboratory_system`.`teacher_user` SET `password` = #{password} WHERE `username` = #{username} and `email` = #{email}
    </update>

<!--    查询邮箱是否空-->
    <select id="nonEmptyEmail" resultType="boolean">
        select COUNT(*) from  teacher_user where email = #{email}
    </select>


    <!--查找老师个人信息-->
    <select id="getTeacherInfo" resultType="com.gdufe.laboratorysystem.entity.TeacherUser">
        select * from teacher_user where username=#{username};
    </select>

    <!--    查找老师个人信息列表-->
    <select id="getTeacherinfoList" resultType="com.gdufe.laboratorysystem.entity.TeacherUser">
        SELECT  * from teacher_user
        <where>
            <if test="username != '' and username !=null and username != 'null'">
                and username like concat(concat('%',#{username}),'%')
            </if>

            <if test="name != '' and name !=null and name != 'null'">
                and name like concat(concat('%',#{name}),'%')
            </if>
            <!--            <if test="createTime != '' and createTime !=null and createTime != 'null'">-->
            <!--                and TO_DAYS(create_time)= TO_DAYS(#{createTime})-->
            <!--            </if>-->

        </where>
    </select>


    <!--更新老师个人信息-->
    <update id="upTeacherInfo" parameterType="com.gdufe.laboratorysystem.entity.TeacherUser">
        update teacher_user
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null and name !='' and name !='null' ">
                name = #{name},
            </if>

            <if test="position != null and position !='' and position !='null' ">
                position = #{position},
            </if>

            <if test="college != null and college !='' and college !='null' ">
                college = #{college},
            </if>

            <if test="address != null and address !='' and address !='null' ">
                address = #{address},
            </if>

            <if test="resignationDate != null and resignationDate !='' and resignationDate !='null' ">
                resignation_date = #{resignationDate},
            </if>

            <if test="entryDate != null and entryDate !='' and entryDate !='null' ">
                entry_date = #{entryDate},
            </if>

            <if test="tel != null and tel !='' and tel !='null' ">
                tel = #{tel},
            </if>

            <if test="sex =='男' or sex =='女' ">
                sex = #{sex},
            </if>

            <if test=" age !=null and age !=0   and age gt 0  ">
                age = #{age},
            </if>

            <if test="birth != null and birth !='' and birth !='null' ">
                birth = #{birth},
            </if>
        </trim>
        where username = #{username};
    </update>

    <!--    老师账号是否存在-->
    <select id="existUsername" resultType="boolean">
        select COUNT(*) from teacher_user where username = #{username}
    </select>

    <!--添加老师个人信息-->
    <insert id="addTeacherInfo">
        INSERT INTO `laboratory_system`.`teacher_user`(`username`, `name`, `age`, `sex`, `tel`, `entry_date`, `resignation_date`, `address`, `college`, `position`, `birth`, `head_portrait`)
        VALUES (#{username}, #{name}, #{age}, #{sex},#{tel},#{entryDate} ,#{resignationDate} ,#{address},#{college} ,#{position},#{birth},#{headPortrait})
    </insert>

    <!--批量添加老师个人信息-->
    <insert id="addTeacherInfoList">
        INSERT INTO `laboratory_system`.`teacher_user`(`username`, `name`, `age`, `sex`, `tel`, `entry_date`, `resignation_date`, `address`, `college`,  `position`, `birth`, `head_portrait`)
        VALUES
        <foreach collection="list" item="teacherInfo" index="index" separator=",">
            (#{teacherInfo.username}, #{teacherInfo.name}, #{teacherInfo.age}, #{teacherInfo.sex},#{teacherInfo.tel},#{teacherInfo.entryDate},#{teacherInfo.resignationDate},#{teacherInfo.address},#{teacherInfo.college} ,#{teacherInfo.position},#{teacherInfo.birth},#{teacherInfo.headPortrait})
        </foreach>
    </insert>

    <!--    批量删除老师个人信息-->
    <delete id="delTeacherInfoList" parameterType="java.lang.String" >
        DELETE FROM `laboratory_system`.`teacher_user` WHERE
        <foreach collection="array" separator="or" item="id" index="index" >
            username = #{id}
        </foreach>
    </delete>

</mapper>